amqp==2.1.1
billiard==3.5.0.2
celery==4.0.0
defusedxml==0.4.1
Django==1.10.2
django-address==0.1.5
django-carton==1.2.1
django-ckeditor==5.1.1
django-custom-user==0.6
django-paypal==0.3.3
ecdsa==0.13
Fabric3==1.12.post1
kombu==4.0.0
oauthlib==2.0.0
paramiko==1.17.2
Pillow==3.4.1
pycrypto==2.6.1
PyJWT==1.4.2
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
vine==1.1.3
