amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.5.1
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.25
certifi==2017.4.17
cffi==1.9.1
chardet==3.0.3
contextlib2==0.5.5
cryptography==1.7.1
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.2
django-address==0.1.5
django-carton==1.2.1
django-celery==3.1.17
django-ckeditor==5.2.2
django-custom-user==0.7
django-debug-toolbar==1.8
django-health-check==2.3.0
django-paypal==0.3.6
ecdsa==0.13
Fabric3==1.12.post1
future==0.16.0
gunicorn==19.6.0
idna==2.5
kombu==3.0.37
oauthlib==2.0.2
olefile==0.44
paramiko==2.1.1
Pillow==4.1.1
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
pycryptodomex==3.4.6
pyjwkest==1.3.2
PyJWT==1.5.0
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2017.2
raven==6.1.0
requests==2.17.3
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.3.0
sqlparse==0.2.3
urllib3==1.21.1
vine==1.1.3
whitenoise==3.3.0
