{% load staticfiles %}
{% load carton_tags %}
{% get_cart as cart %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Cart | VIA NOIR | IRK Shop</title>
<meta name="description" content="Prepare for the battle before VIA NOIR XM Anomaly, with us."/>
<link rel="stylesheet" type="text/css" href="{% static 'modal/css/style_cart.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'modal/css/component.css' %}"/>
<script src="{% static 'modal/js/modernizr.custom.js' %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body class="cart-modal">
<header class="cart-header">
<div class="cart-headerwrap">
	<div class="cart-logo">
	<!-- shopping cart image, H x W: 50 x 50 px -->
	<img src="{% static 'modal/images/icons/shopping_cart.png' %}" alt="shopping cart icon">
	</div>
	<div class="cart-title">
	<!-- title -->
		<h1>I R K&nbsp;&nbsp;S H O P</h1>
	</div>
</div>
</header>
<hr>
<div id="cart-mainwrap">
	<div id="cart-subtitle">
		<h2>Your shopping cart:</h2>
	</div>
	<table class="cart-data-table">
	<thead>
	<tr>
		<th class="cart-left cart-table-index">
			 Item
		</th>
		<th class="cart-left cart-table-index">
			<!-- item description -->
			 &nbsp;
		</th>
		<th class="cart-left cart-table-index">
			 Price
		</th>
		<th class="cart-center cart-table-index">
			 Qty
		</th>
		<th class="cart-left cart-table-index">
			 Subtotal
		</th>
		<th class="cart-center cart-table-index">
			 Remove
		</th>
	</tr>
	</thead>
	<tbody>
    {% for item in cart.items %}
	<tr>
		<td class="cart-left cart-item-view-image">
			<!-- thumbnail image, H x W: 50 x 50 px -->
			<a href="/#SHOP{{ item.product.category }}/{{ item.product.id }}" class="item-image iziModal-button-close">
                <img src="{{ item.product.get_first_image.image.url }}" alt="name of item here" style="width: 50px; height: auto;">
            </a>
		</td>
		<td class="cart-left cart-item-view-name">
			<h3 class="item-name">
			<!-- name of item, with link -->
			<a href="/#SHOP{{ item.product.category }}/{{ item.product.id }}">{{ item.product.name }}</a>
			</h3>
		</td>
		<td class="cart-left cart-price">
			<!-- item price, per one -->
			 ${{ item.product.price }}
		</td>
		<td class="cart-center cart-item-view-qty">
			<!-- quantity -->
            <form>
            {% csrf_token %}
			<input value="{{ item.quantity }}" size="4" class="qty update-quantity" maxlength="100" type="number">
            </form>
		</td>
		<td class="cart-left cart-price cart-subtotal-each">
			<!-- item price, subtotal -->
			 ${{ item.subtotal }}
		</td>
		<td id="btn-click" class="cart-center cart-item-remove">
			<!-- remove button, animated -->
			<button class="btn btn-animated btn-d btn-icon-only icon-remove">Remove</button>
		</td>
	</tr>
    {% endfor %}
    <button id="close-modal" data-izimodal-close="" data-izimodal-transitionout="bounceOutDown">Close</button>
	</tbody>
	<tfoot>
	<!-- total price area -->
	<tr>
		<td colspan="10" class="cart-right">
			<div class="cart-subtotal-price">
				 Subtotal: ${{ cart.total }}
			</div>
			<div class="cart-subtotal-price">
				 Shipping: $0
			</div>
			<div class="cart-subtotal-price">
				 Estimated Tax: $0
			</div>
			<div class="cart-total-price">
				 Total: ${{ cart.total }}
			</div>
		</td>
	</tr>
	<!-- button area -->
	<tr>
		<td colspan="10" class="cart-buttons" id="btn-click">
			<div class="cart-buttons-wrapper">
				<div class="cart-empty">
					<button class="btn btn-animated btn-b icon-remove">Empty Cart</button>
				</div>
				<div class="cart-checkout">
					<button class="btn btn-animated btn-a icon-truck">Checkout</button>
				</div>
			</div>
		</td>
	</tr>
	</tfoot>
	</table>
</div>
<!-- scripts for animated buttons -->
<script src="{% static 'modal/js/classie.js' %}"></script>
<script>
	var buttonsClick = Array.prototype.slice.call( document.querySelectorAll( '#btn-click button' ) ),
		totalButtonsClick = buttonsClick.length;
		buttonsClick.forEach( function( el, i ) { el.addEventListener( 'click', activate, false ); } );
			function activate() {
				var self = this, activatedClass = 'btn-activated';
				if( !classie.has( this, activatedClass ) ) {
					classie.add( this, activatedClass );
					setTimeout( function() { classie.remove( self, activatedClass ) }, 1000 );
				}
			}
</script>
<script type="text/javascript">
    $(document).on('click', '#close-modal', function (event) {
        window.parent.closeModal();
    })
</script>
<script type="text/javascript">
    $(document).on('click', 'a', function (event) {
        window.parent.closeModal(
                $(this).attr('href')
        );
    })
    $(document).on('tap click touchstart', '.update', function (event) {
        event.preventDefault();
        $.ajax({
            url: {% url 'shopping-cart-update' %},
            type: "POST",
            data: $(this.form).serialize(),
            success : function(json) {
                console.log(json); // another sanity check
                alert(json['message']);
            }
        })
    });
    $('.update-quantity').change(function () {
        var input_value = $(this).val();
        var output_value = input_value * Number($(this).parent('form').parent().prev().text().replace('$',''));
        $('.cart-subtotal-each').text('$'+output_value)
    });
</script>
</body>
</html>