{% load carton_tags %}
{% get_cart as cart %}
<html>
<body>
    <table border="1">
    <tr>
        <th></th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for item in cart.items %}
    <tr>
        <td>
        {% for image in item.product.images.all %}
        <img style="width:50px;height: auto;" src="{{ image.image.url|safe }}" />
        {% endfor %}
        </td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.subtotal }}</td>
    </tr>
        {% endfor %}
    </table>

    Total: {{ cart.total }}<br>
    <a href="">[ORDER NOW]</a>

</body>
</html>
