/*   
URI: http://shop.resist.kr/
Description: A stylesheet for modal design
Author: @scarletspitz
Author URI: http://cafe.naver.com/ingressresistance
Version: 1.0a
*/

/* Seoul will be 'eventually' blue.
-------------------------------------------------------------------------------*/

/**
 * Table of Contents:
 *
 * 0.0 - Reset
 * 1.0 - Fonts
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 * 5.0 - Table
 *   5.1 - Table Header
 *   5.2 - Table Contents
 *   5.3 - Buttons
 * ----------------------------------------------------------------------------
 */

/**
 * 0.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */

html, body div, span, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    min-width: 320px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chromeframe {
    position: absolute;
    top: 0;
}

body {
    font-family: 'Cormorant', 'Jeju Myeongjo', serif;
    font-weight: 300;
    line-height: 1.3;
    font-size: 16px;
    /* min-width:300px; */
    /* min-height:300px; */
    background: #fff;
    color: #000;
    overflow-x: hidden;
}

select, input, textarea {
    color: #000;
    background: #fff;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/* Custom text-selection colors (remove any text shadows:http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}

/*	j.mp/webkit-tap-highlight-color */
a:link {
    -webkit-tap-highlight-color: #fcd700;
}

ins {
    background-color: #fcd700;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #fcd700;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
    color: #a9a9a9;
}

textarea:-moz-placeholder {
    color: #a9a9a9;
}

/**
 * 1.0 Fonts
 * ----------------------------------------------------------------------------
 */

@font-face {
    font-family: 'Jeju Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url(http://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot);
    src: url(http://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
    url(http://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff2) format('woff2'),
    url(http://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff) format('woff'),
    url(http://fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 300;
    src: local('Cormorant Light'), local('Cormorant-Light'), url(https://fonts.gstatic.com/s/cormorant/v1/diggKPcUerIA8GQWRVxsVRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    src: local('Cormorant'), local('Cormorant-Regular'), url(https://fonts.gstatic.com/s/cormorant/v1/a3k4tdhPAhIrqJlC0EH98pBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 300;
    src: local('Cormorant Light Italic'), local('Cormorant-LightItalic'), url(https://fonts.gstatic.com/s/cormorant/v1/UydD9tmk-DfLnEFRr_bBZ9TIkQYohD4BpHvJ3NvbHoA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    src: local('Cormorant Italic'), local('Cormorant-Italic'), url(https://fonts.gstatic.com/s/cormorant/v1/X0EhxUCrSK0o-Ai-a9zFbogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    src: local('Actor Regular'), local('Actor-Regular'), url(https://fonts.gstatic.com/s/actor/v6/sK5V_tJbsgOm4Y29j9x9MqCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1 {
    font-family: 'Actor', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    word-spacing: 20px;
}

h2 {
    font-family: 'Cormorant', 'Jeju Myeongjo', serif;
    font-size: 36px;
    color: #000;
    font-weight: 300;
    font-style: italic;
}

h3 {
    display: inline;
    font-family: 'Cormorant', 'Jeju Myeongjo', serif;
    font-size: 16px;
    color: #000;
    font-weight: 300;
    margin: 0;
}

/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */

hr {
    background: url(../images/dotted-line.png) repeat center top;
    background-size: 4px 4px;
    border: 0;
    height: 1px;
}

input {
    font-size: 14px;
    font-family: 'Actor', sans-serif;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

.cart-header {
    margin: 20px 0 20px 0;
}

.cart-headerwrap {

}

.cart-mainwrap {
    margin: 20px 0 20px 0;
}

/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

.cart-logo {
    width: 50px;
    margin: 10px auto 10px auto;
    padding: 0;
}

.cart-logo img {
    width: 50px;
    height: 50px;
}

.cart-title {
    text-align: center;
}

/**
 * 5.0 Table
 * ----------------------------------------------------------------------------
 */

table {
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
    empty-cells: show;
}

.cart-table-index {
    white-space: nowrap !important;
}

.cart-data-table, .cart-data-table tr:last-child td, .cart-data-table tr:last-child th, .cart-data-table thead th span, .cart-data-table thead tr {
    border-width: 0px;
}

td {
    vertical-align: middle;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.cart-left {
    text-align: left;
}

.cart-center {
    text-align: center;
}

.cart-right {
    text-align: right;
}

/**
 * 5.1 Table Header
 * ----------------------------------------------------------------------------
 */

.cart-data-table thead th {
    background-color: #eee;
    padding: 15px 5px 15px 10px;
    font-size: 16px;
    color: #333;
    border: 0px;
    font-weight: 400;
}

.cart-item-view-image {
    width: 10%;
    margin: 0;
    padding: 0 10px 0 10px;
    text-align: left;
}

.cart-cart-item-view-name {
    width: 40%;
}

.cart-price {
    width: 15%;
    margin: 0;
    padding: 0 10px 0 10px;
}

.cart-item-view-qty, .cart-item-remove {
    width: 10%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.cart-item-remove {
    width: 10%;
    margin: 0;

}

/**
 * 5.2 Table Contents
 * ----------------------------------------------------------------------------
 */

.cart-data-table tbody .qty {
    width: 40px !important;
    text-align: center;
    text-indent: 0;
    padding: 5px;
    border: 1px solid #ccc;
    color: #000;
    font-weight: 400;
    border-radius: 0px;
}

.cart-item-view-image {
}

tbody td {
    border-bottom: 1px solid #ccc !important;
}

.cart-price {
    font-size: 16px;
}

.cart-subtotal-price {
    font-size: 18px;
}

.cart-total-price {
    font-size: 36px;
}

.update {
    font-size: 12px;
    display: block;
}

/**
 * 5.3 Buttons
 * ----------------------------------------------------------------------------
 */

.cart-buttons {
    width: 100%;
}

.cart-buttons-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
}

.cart-buttons .cart-empty {
    float: left;
    margin: 0;
    padding: 0;
}

.cart-buttons .cart-checkout {
    float: right;
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    .cart-buttons .cart-empty {
        float: none;
        margin: 0;
        padding: 0;
    }

    .cart-buttons .cart-checkout {
        float: none;
        margin: 0;
        padding: 0;
    }

    div.cart-buttons-wrapper {
        text-align: center;
    }

    div.cart-buttons-wrapper.cart-empty, div.cart-buttons-wrapper.cart-checkout {
        display: inline-block;
    }
}

.row {
    width: 100%;
    display: inline-block;
}

.col-2 {
    width: 50%;
    float: left;
}

.col-2 > label {
    float: left;
}

.col-3 {
    width: 33%;
    float: left;
}

.col-3 > label {
    float: left;
}