{% extends 'base.html' %}
{% load staticfiles %}
{% load in_category %}
{% load carton_tags %}
{% get_cart as cart  %}

{% block title %}Via Noir SEOUL{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.7/jquery.fullPage.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'css/iziModal.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
{% block js %}
    <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/jquery.fullPage.min.js' %}"></script>
    <script src="{% static 'js/jquery.fullpage.extensions.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.7/vendors/scrolloverflow.min.js"></script>
    <script src="{% static 'js/iziModal.min.js' %}"></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
                anchors: {{ categories_list|safe }},
       			css3: true,
                navigation: true,
				navigationPosition: 'right',
                slidesToSections: true,
                slidesNavigation: true,
                controlArrows: false
       		});
		});
	</script>
    <script type="text/javascript">
    window.closeModal = function closeModal(redirect_url){
        $('#modal').iziModal('close');
        if (redirect_url){
            window.location.href = redirect_url
        }
    };
</script>
{% endblock %}
{% block body %}
<div>
    {% include 'compositions/sidebar.html' %}
    <main>
        <a href="" class="trigger"><img id="shopping-cart-icon" src="{% static 'image/shopping_cart.png' %}"></a>
        <div id="modal">
        </div>

        <div id="fullpage">
            {% for category in categories %}
                <div class="section" id="{{ category }}">
                    {% for good in goods|in_category:category %}
                        <div class="slide">
                        <form id="add{{ good.name|safe }}" class="addCart" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for image in good.images.all %}
                                <img class="product-img" src="{{ image.image.url|safe }}" />
                            {% endfor %}
                            <h1>{{ good.name }}</h1>
                            <h2>Price: ${{ good.price }}</h2>
                            <h4>{{ good.description|safe }}</h4>
                            <input name="good" value="{{ good.pk }}" type="hidden">
                            <input class="btn-lg" name="submit" type="submit" value="add to CART">
                        </form>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </main>
</div>
{% if user.is_authenticated %}
<script type="text/javascript">
$("#modal").iziModal({
    iframe: true,
    iframeHeight: 500,
    iframeURL: "{% url 'shopping-cart-show' %}"
});
</script>
<script type="text/javascript">
    $(document).on('click', '.trigger', function (event) {
        event.preventDefault();
        $('#modal').iziModal('open'); // Use "this" to get URL href or option 'iframeURL'
    });
</script>
{% else %}
<script type="text/javascript">
    $(document).on('click', '.trigger', function (event) {
        event.preventDefault();
        alert("Please Login First");
    });
</script>
{% endif %}

{% endblock %}