html { font-size: 62.5%; }
body { font-size: 1em;}

@media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}
body{
    margin: 0 auto;
    width:100%;
    height:100%;
    padding: 0;
    overflow: hidden;
}
nav{
    padding-top: 20px;
    float: left;
    max-width: 300px;
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: auto;
}
main{
    margin:0;
    float: right;
    width: 80%;
    height: auto;
    position: relative;
    box-shadow: 0 0 10px 10px #1b1b1b;
}
#fullpage{
    padding-left: 20px;
}
#logo{
    width: 80%;
    height: auto;
    margin-left: 10%;
}
.container{
  min-width:320px; /* 최솟값 */
  max-width:1280px; /* 최댓값 */
  margin:0 auto;
}
.nav_button{
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    background-color: #1b1b1b;
    color: #FFFFFF;
    margin: 0.2em;
    border: 0.2em;
    width: 80%;
    height: 2em;
    margin-left: 10%;
    overflow: hidden;
}
.section{
    padding: 20px;
    width: 100%;
}
.slide{
    text-align: center;
}
.product-img{
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
    height: auto;
    background-color: #f1f1f1;
}
.login-btn{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    margin-bottom: 10px;
}
.login-btn-img{
    width: 50px; height: 50px;
}
#shopping-cart-icon{
    position: fixed;
    float: right;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    z-index: 99999;
    filter: invert(100%);
    margin: 10px;
}
.show-more-under{
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 50px;
    left: 48%;
    z-index: 9999;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background-color: #FFF;
}
.fp-controlArrow.fp-next{
    right: 50px;
}

