.iu-center-box {
  width:960px;
}
.text-4 {
  bottom:0px;
  color:#969696;
  font-family:'Helvetica', sans-serif;
  font-size:24px;
  height:30px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}