.text {
  bottom:0px;
  color:#969696;
  font-family:'Helvetica', sans-serif;
  font-size:12px;
  height:30px;
  left:0px;
  margin-bottom:auto;
  margin-top:auto;
  text-align:center;
  top:0px;
  width:100%;
}