{% load staticfiles %}
<nav class="mobile-disabled" id="header">
    <div>
        <a href="/"><img id="logo" src="{% static 'image/via_noir_seoul_logo.png' %}"></a>
    </div>
    <div style="align-content: center; margin-top: 20px">
        {% if user.is_authenticated %}
          <a class="nav_button btn btn-group-xs" style="background-color: darkgrey;" href="{% url 'logout' %}?next=/">
            LOGOUT
          </a>
        {% else %}
            <div class="login-btn">Login with</div>
            <div class="login-btn">
              <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                <img class="login-btn-img" src="{% static 'image/facebook_login.png' %}">
              </a>
                <span></span>
              <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                <img class="login-btn-img" src="{% static 'image/google_login.png' %}">
              </a>
            </div>
        {% endif %}

        {% for category in categories %}
        <a class="nav_button btn btn-group-xs" href="#SHOP{{ category.name }}">
            {{ category.name }}
        </a>
        {% endfor %}
    </div>
</nav>
<div id="toggleHeader">

</div>
<div id="headerBlank">

</div>
