{% load staticfiles %}
<nav>
    <div>
        <a href="/"><img id="logo" src="{% static 'image/via_noir_seoul_logo.png' %}"></a>
    </div>
    <div style="align-content: center; margin-top: 20px">
        {% if user.is_authenticated %}
          <a class="login-btn btn btn-github" href="{% url 'logout' %}?next=/">
            LOGOUT
          </a>
        {% else %}
          <a class="login-btn btn btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
            Sign in with FB
          </a>
          <a class="login-btn btn btn-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
            Sign in with Google
          </a>
        {% endif %}


        {% for category in categories %}
        <a class="nav_button btn btn-group-xs" href="#SHOP{{ category.name }}">
            {{ category.name }}
        </a>
        {% endfor %}
    </div>
</nav>
