{% load staticfiles %}
{% load carton_tags %}
{% get_cart as cart %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>ORDER | VIA NOIR | IRK Shop</title>
<meta name="description" content="Prepare for the battle before VIA NOIR XM Anomaly, with us."/>
<link rel="stylesheet" type="text/css" href="{% static 'modal/css/style_cart.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'modal/css/component.css' %}"/>
<script src="{% static 'modal/js/modernizr.custom.js' %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false&amp;key=AIzaSyAKszV8vT2O3tj_KqDtZmnfY54pNK7l_4c"></script>
<script type="text/javascript" src="/static/js/jquery.geocomplete.min.js"></script>
<script type="text/javascript" src="/static/address/js/address.js"></script>
<style>
    .address {
    width: 100%;
    }
    .address-input {
        width: 80%;
    }
</style>
</head>
<body class="cart-modal">
<header class="cart-header mobile-disabled">
<div class="cart-headerwrap">
	<div class="cart-logo">
	<!-- shopping cart image, H x W: 50 x 50 px -->
	<img src="{% static 'modal/images/icons/shopping_cart.png' %}" alt="shopping cart icon">
	</div>
	<div class="cart-title">
	<!-- title -->
		<h1>I R K&nbsp;&nbsp;S H O P</h1>
	</div>
</div>
<hr>
</header>
{{ form.render }}

<!-- scripts for animated buttons -->
<script src="{% static 'modal/js/classie.js' %}"></script>
</body>
</html>