{% load staticfiles %}
{% load carton_tags %}
{% get_cart as cart %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>ORDER | VIA NOIR | IRK Shop</title>
<meta name="description" content="Prepare for the battle before VIA NOIR XM Anomaly, with us."/>
<link rel="stylesheet" type="text/css" href="{% static 'modal/css/style_cart.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'modal/css/component.css' %}"/>
<script src="{% static 'modal/js/modernizr.custom.js' %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false&amp;key=AIzaSyAKszV8vT2O3tj_KqDtZmnfY54pNK7l_4c"></script>
<script type="text/javascript" src="{% static 'js/jquery.geocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'address/js/address.js' %}"></script>
<style>
    html{
        width: 100%;
    }
    .address {
    width: 100%;
    }
    input {
        width: 100%;
    }
</style>
<style>
@media (max-width: 640px) {
    .mobile-disabled {
        display: none;
    }
}
</style>
</head>
<body class="cart-modal">
<header class="cart-header">
<div class="cart-headerwrap">
	<div class="cart-logo">
	<!-- shopping cart image, H x W: 50 x 50 px -->
	<img src="{% static 'modal/images/icons/shopping_cart.png' %}" alt="shopping cart icon">
	</div>
	<div class="cart-title">
	<!-- title -->
		<h1>I R K&nbsp;&nbsp;S H O P</h1>
	</div>
</div>
<hr>
</header>
<div id="cart-mainwrap">
	<div id="cart-subtitle">
		<h2>Your ORDER:</h2>
	</div>
	<table class="cart-data-table">
	<thead>
	<tr>
		<th class="cart-left cart-table-index">
			 Item
		</th>
		<th class="cart-left cart-table-index mobile-disabled">
			<!-- item description -->
			 &nbsp;
		</th>
		<th class="cart-left cart-table-index">
			 Price
		</th>
		<th class="cart-center cart-table-index">
			 Qty
		</th>
		<th class="cart-left cart-table-index">
			 Subtotal
		</th>
	</tr>
	</thead>
	<tbody>
    {% for item in cart.items %}
	<tr>
		<td class="cart-left cart-item-view-image mobile-disabled">
			<!-- thumbnail image, H x W: 50 x 50 px -->
			<a href="/#SHOP{{ item.product.category }}/{{ item.product.id }}" target="_blank" class="item-image iziModal-button-close">
                <img src="{{ item.product.get_first_image.image.url }}" alt="name of item here" style="width: 50px; height: auto;">
            </a>
		</td>
		<td class="cart-left cart-item-view-name">
			<h3 class="item-name">
			<!-- name of item, with link -->
			<a href="/#SHOP{{ item.product.category }}/{{ item.product.id }}" target="_blank">{{ item.product.name }}</a>
			</h3>
		</td>
		<td class="cart-left cart-price">
			<!-- item price, per one -->
			 ${{ item.product.price }}
		</td>
		<td class="cart-center cart-item-view-qty">
            {{ item.quantity }}
		</td>
		<td class="cart-left cart-price cart-subtotal-each">
			<!-- item price, subtotal -->
			 ${{ item.subtotal }}
		</td>
	</tr>
    {% endfor %}
	</tbody>
	<tfoot>
	<!-- total price area -->
	<tr>
		<td colspan="10" class="cart-right">
			<div class="cart-total-price">
				 Total: ${{ cart.total }}
			</div>
		</td>
	</tr>
	</tfoot>
	</table>
</div>
<div id="select-shipping-option-radio">
    <h2>Shipping Method:</h2>
    <div>
        <label for="get-on-field">Get Items at ANOMALY</label><input id="get-on-field" type="radio" name="shipping-options" checked="checked" value="field">
        <label for="get-shipping">Shipping(fee +$8)</label><input id="get-shipping" type="radio" name="shipping-options" value="shipping">
    </div>

    <div id="shipping-option">
        <form id="order-now">
            {% csrf_token %}
            <div class="address-input">
                <div class="avail-for-shipping">
                    <h2>Shipping Address:</h2>
                    <p>
                        <label for="id_address">Address:</label> <input class="address" id="id_address" name="address" type="text" />
                        <div id="address_components">
                            <input type="hidden" name="address_country" data-geo="country" value="" />
                            <input type="hidden" name="address_country_code" data-geo="country_short" value="" />
                            <input type="hidden" name="address_locality" data-geo="locality" value="" />
                            <input type="hidden" name="address_postal_code" data-geo="postal_code" value="" />
                            <input type="hidden" name="address_route" data-geo="route" value="" />
                            <input type="hidden" name="address_street_number" data-geo="street_number" value="" />
                            <input type="hidden" name="address_state" data-geo="administrative_area_level_1" value="" />
                            <input type="hidden" name="address_state_code" data-geo="administrative_area_level_1_short" value="" />
                            <input type="hidden" name="address_formatted" data-geo="formatted_address" value="" />
                            <input type="hidden" name="address_latitude" data-geo="lat" value="" />
                            <input type="hidden" name="address_longitude" data-geo="lng" value="" />
                        </div>
                    </p>
                    <p><label for="id_AdditionalAddress">Additionaladdress:</label> <input id="id_AdditionalAddress" maxlength="255" name="AdditionalAddress" type="text" /></p>
                </div>
                <h2>Order Option:</h2>
                <p><label for="id_OrderOptioin">Order Options:</label> <input id="id_OrderOptioin" maxlength="255" name="OrderOptioin" type="text" placeholder="Please enter details like hoodie size, lunch box type, and preferred onsite pickup time." /></p>
            </div>
        </form>
        <div class="cart-buttons-wrapper" style="margin-top: 25px">
            <div class="cart-center">
                <button class="btn btn-animated btn-a icon-truck" id="checkout-btn">ORDER NOW</button>
            </div>
        </div>
        <div style="text-align: center; width: 100%; margin-top: 25px">
        <div id="paypal-btn" style="width: 200px; display: inline-block"></div>
        </div>
    </div>

</div>
<!-- scripts for animated buttons -->
<script src="{% static 'modal/js/classie.js' %}"></script>
<script>
    $('#checkout-btn').click(function () {
        $.ajax({
            url : window.location.href,
            type: "POST",
            data: $('#order-now').serialize(),
            success : function(json) {
                console.log(json); // another sanity check
                alert(json['message']);
                if (json['paypal-form']){
                    $('.cart-buttons-wrapper').hide();
                    $('#paypal-btn').html(json['paypal-form']);
                }
            }
        })
    })

    $(document).ready(function() {
    $("input[name$='shipping-options']").click(function() {
        var shipping_method = $(this).val();

        if (shipping_method == 'field') {
            $(".avail-for-shipping").hide()
        } else if (shipping_method == 'shipping') {
            $(".avail-for-shipping").show()
        }

    });

    $(".avail-for-shipping").hide()

});
</script>
</body>
</html>