{% load static %}
{% load carton_tags %}
{% get_cart as cart %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>ORDER | IRK Shop</title>
    <meta name="description" content="Prepare for the battle before XM Anomaly, with IRK."/>
    <link rel="stylesheet" type="text/css" href="{% static 'modal/css/style_cart.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'modal/css/component.css' %}"/>
    <script src="{% static 'modal/js/modernizr.custom.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDBHbDcruygrjgOWdkpK6Dq7lz926Vl31I"></script>
    <script type="text/javascript" src="{% static 'js/jquery.geocomplete.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'address/js/address.js' %}"></script>
    <style>
        html {
            width: 100%;
        }

        .address {
            width: 100%;
        }

        input {
            width: 100%;
        }

        #cart-mainwrap, #select-shipping-option-radio {
            width: 100%;
            max-width: 640px;
            margin: 10px auto;
        }
    </style>
    <style>
        @media (max-width: 640px) {
            .mobile-disabled {
                display: none;
            }
        }
    </style>
</head>
<body class="cart-modal">
<header class="cart-header">
    <div class="cart-headerwrap">
        <div class="cart-logo">
            <!-- shopping cart image, H x W: 50 x 50 px -->
            <img src="{% static 'modal/images/icons/shopping_cart.png' %}" alt="shopping cart icon">
        </div>
        <div class="cart-title">
            <!-- title -->
            <h1>I R K&nbsp;&nbsp;S H O P</h1>
        </div>
    </div>
    <hr>
</header>
<div id="cart-mainwrap">
    <div id="cart-subtitle">
        <h2>Your ORDER:</h2>
    </div>
    <table class="cart-data-table">
        <thead>
        <tr>
            <th class="cart-left cart-table-index">
                Item
            </th>
            <th class="cart-left cart-table-index mobile-disabled">
                <!-- item description -->
                &nbsp;
            </th>
            <th class="cart-left cart-table-index">
                Price
            </th>
            <th class="cart-center cart-table-index">
                Qty
            </th>
            <th class="cart-left cart-table-index">
                Subtotal
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart.items %}
            <tr>
                <td class="cart-left cart-item-view-image mobile-disabled">
                    <!-- thumbnail image, H x W: 50 x 50 px -->
                    <a href="/#SHOP{{ item.product.category }}/{{ item.product.id }}" target="_blank"
                       class="item-image iziModal-button-close">
                        {% if item.product.get_first_image.image.url %}
                            <img src="{{ item.product.get_first_image.image.url }}" alt="{{ item.product.name }}"
                                 style="width: 50px; height: auto;">
                        {% endif %}
                    </a>
                </td>
                <td class="cart-left cart-item-view-name">
                    <h3 class="item-name">
                        <!-- name of item, with link -->
                        <a href="/#SHOP{{ item.product.category }}/{{ item.product.id }}"
                           target="_blank">{{ item.product.name }}</a>
                    </h3>
                </td>
                <td class="cart-left cart-price">
                    <!-- item price, per one -->
                    ${{ item.product.price }}
                </td>
                <td class="cart-center cart-item-view-qty">
                    {{ item.quantity }}
                </td>
                <td class="cart-left cart-price cart-subtotal-each">
                    <!-- item price, subtotal -->
                    ${{ item.subtotal }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <!-- total price area -->
        <tr>
            <td colspan="10" class="cart-right">
                <div class="cart-total-price">
                    Total: ${{ cart.total }}
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div id="select-shipping-option-radio">
    <div id="shipping-option">
        <form id="order-now">
            {% csrf_token %}
            <h2>Shipping Method:</h2>
            <div class="row">
                <div class="col-2">
                    <label for="get-on-field">Get Items at ANOMALY</label>
                    <input id="get-on-field" type="radio"
                           name="shipping-options" checked="checked"
                           value="field">
                </div>
                <div class="col-2">
                    <label for="get-shipping">Shipping(fee +$35)</label>
                    <input id="get-shipping" type="radio"
                           name="shipping-options"
                           value="shipping">
                </div>
            </div>
            <div class="address-input">
                <div class="avail-for-shipping" style="display: none;">
                    <h2>Shipping Address:</h2>
                    <label for="id_address">Address:</label>
                    <input class="address" id="id_address" name="address" type="text"
                           placeholder="Search Place with Google"/>
                    <div id="address_components">
                        <input type="hidden" name="address_country" data-geo="country" value=""/>
                        <input type="hidden" name="address_country_code" data-geo="country_short" value=""/>
                        <input type="hidden" name="address_locality" data-geo="locality" value=""/>
                        <input type="hidden" name="address_postal_code" data-geo="postal_code" value=""/>
                        <input type="hidden" name="address_route" data-geo="route" value=""/>
                        <input type="hidden" name="address_street_number" data-geo="street_number" value=""/>
                        <input type="hidden" name="address_state" data-geo="administrative_area_level_1" value=""/>
                        <input type="hidden" name="address_state_code" data-geo="administrative_area_level_1_short"
                               value=""/>
                        <input type="hidden" name="address_formatted" data-geo="formatted_address" value=""/>
                        <input type="hidden" name="address_latitude" data-geo="lat" value=""/>
                        <input type="hidden" name="address_longitude" data-geo="lng" value=""/>
                    </div>
                    <p>
                        <label for="id_AdditionalAddress">Additionaladdress:</label>
                        <input id="id_AdditionalAddress"
                               maxlength="255"
                               name="additional_address"
                               placeholder="Type Additional Address"
                               type="text"/>
                    </p>
                </div>
                <h2>Agent Name & Ingress Email:</h2>
                <p>
                    <label for="id_ingress_mail">Ingress Login Email Address:</label>
                    <input type="email" name="ingress_mail" id="id_ingress_mail" placeholder="ex) myagent@gmail.com">
                    <label for="id_ingress_agent_name">Ingress Agent Name:</label>
                    <input type="text" name="ingress_agent_name" id="id_ingress_agent_name"
                           placeholder="ex) MyAgentName">
                </p>
                <h2>Order Option:</h2>
                <p><label for="id_OrderOptioin">Order Options:</label> <input id="id_OrderOptioin" maxlength="255"
                                                                              name="custom_order" type="text"
                                                                              placeholder="Please enter details like hoodie size, lunch box type, and preferred onsite pickup time."/>
                </p>
            </div>
            <h2>Payment Method:</h2>
            <div class="row">
                <div class="col-2">
                    <label for="pay-with-paypal">Pay with Paypal</label>
                    <input id="pay-with-paypal" type="radio"
                           name="payment-method" checked="checked"
                           value="paypal">
                </div>
                <div class="col-2">
                    <label for="pay-with-bank-tranfer">Bank Transfer <span
                            style="font-family: sans-serif; font-size: 90%">(계좌이체)</span></label>
                    <input id="pay-with-bank-tranfer" type="radio"
                           name="payment-method"
                           value="bank-transfer">
                </div>
            </div>
            {# 국내, 계좌이체 결제 #}
            <div class="is_bank_transfer" style="display: none; font-family: sans-serif">
                <h2>Bank Transferer Name:</h2>
                <h5>1달러는 1000원으로 계산됩니다.</h5>
                <div>
                    <label for="bank_transfer_name">(은행 송금)입금자명:</label>
                    <input type="text" name="bank_transfer_name" id="bank_transfer_name">
                </div>
                <h3>수령방법:</h3>
                <div class="row">
                    <div class="col-3">
                        <label for="how_to_receive_krw_f">현장수령</label>
                        <input id="how_to_receive_krw_f" type="radio"
                               name="how_to_receive_krw" checked="checked"
                               value="f">
                    </div>
                    <div class="col-3">
                        <label for="how_to_receive_krw_l">뒷풀이때 수령</label>
                        <input id="how_to_receive_krw_l" type="radio"
                               name="how_to_receive_krw"
                               value="l">
                    </div>
                    <div class="col-3">
                        <label for="get-shipping">배송(위에 체크해도 다시한번 체크해주세요)</label>
                        <input id="how_to_receive_krw_s" type="radio"
                               name="how_to_receive_krw"
                               value="s">
                    </div>
                </div>
            </div>
        </form>

        <div class="cart-buttons-wrapper paypal-payment" style="margin-top: 25px">
            <div class="cart-center">
                <button class="btn btn-animated btn-a icon-truck checkout-btn" data-payment="paypal">PAYPAL PAY</button>
            </div>
        </div>
        <div class="cart-buttons-wrapper bank-transfer-payment" style="margin-top: 25px; display: none">
            <div class="cart-center">
                <button class="btn btn-animated btn-a icon-truck checkout-btn" data-payment="bank">계좌이체
                </button>
            </div>
        </div>
        <div class="loading-paypal" style="margin-top: 25px; display:none; text-align: center">
            <img src="{% static 'image/loading_HiDPI.gif' %}" style="width: 99px; display: inline-block">
        </div>
        <div style="text-align: center; width: 100%; margin-top: 25px">
            <div id="paypal-btn" style="width: 200px; display: inline-block"></div>
        </div>
    </div>

</div>
<!-- scripts for animated buttons -->
<script src="{% static 'modal/js/classie.js' %}"></script>
<script>
    $(document).ready(function () {
        $("input[name$='shipping-options']").click(function () {
            var shipping_method = $(this).val();

            if (shipping_method === 'field') {
                $(".avail-for-shipping").hide()
            } else if (shipping_method === 'shipping') {
                $(".avail-for-shipping").show()
            }

        })
        $("input[name$='payment-method']").click(function () {
            var payment_method = $(this).val()
            console.log(payment_method)
            if (payment_method === 'paypal') {
                $('.paypal-payment').show()
                $('.bank-transfer-payment').hide()
                $('.is_bank_transfer').hide()
            } else if (payment_method === 'bank-transfer') {
                $('.bank-transfer-payment').show()
                $('.paypal-payment').hide()
                $('.is_bank_transfer').show()
            }
        })
        $('.checkout-btn').click(function (e) {
            if (e.target.dataset.payment === 'paypal') {
                $(":input").prop("readonly", true);
                alert('Your Order with Paypal is in Progress.\nPlease Wait For a while.')
                $('.paypal-payment').hide();
                $('.loading-paypal').show();
                $.ajax({
                    url: window.location.href,
                    type: "POST",
                    data: $('#order-now').serialize(),
                    success: function (json) {
                        alert(json['message']);
                        if (json['paypal-form']) {
                            $('.loading-paypal').hide();
                            $('#paypal-btn').html(json['paypal-form']);
                        } else {
                            $('.paypal-payment').show();
                            $('.loading-paypal').hide();
                        }
                        $(":input").prop("disabled", true);
                    },
                    error: function (err) {
                        alert('Network Status is weak. Please Try again')
                        $('.paypal-payment').show();
                        $('.loading-paypal').hide();
                        $(":input").prop("readonly", false);
                    }
                })
            } else if (e.target.dataset.payment === 'bank') {
                $(":input").prop("readonly", true);
                $('.bank-transfer-payment').hide();
                $('.loading-paypal').show();
                $.ajax({
                    url: window.location.href,
                    type: "POST",
                    data: $('#order-now').serialize(),
                    success: function (json) {
                        $('.loading-paypal').hide();
                        alert(json['message']);
                        if (json['redirect']) {
                            window.location.href = json['redirect']
                        } else {
                            $('.bank-transfer-payment').show();
                        }
                        $(":input").prop("disabled", true);
                    },
                    error: function (err) {
                        alert('Error Occured', err)
                        $('.bank-transfer-payment').show();
                        $(":input").prop("readonly", false);
                    }
                })
            }
        })
    });
</script>
{% if not cart.items|length %}
    <script>
        alert('Your shopping cart seems empty!\nCheck one more time please:)')
        location.href = '/shop/#modal'
    </script>
{% endif %}
</body>
</html>